td:not(:last-of-type) {
    border-right: solid 1px black;
}

button {
    border: solid 1px;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    margin: 0.2rem 0.4rem;
    font-family: monospace;
}

button:not(:disabled) {
    cursor: pointer;
}